/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  background-color: var(--accent-color);



  @include mq($from: desktop) {
    padding: $space-40 0;
  }

  &__container {
    width: 100%;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq($from: desktop) {
      min-height: $space-40;
    }
  }
}

.home-template {
  .c-header {
    margin-bottom: 0;
  }
}

.shop-template {
  .c-header {
    margin-bottom: 0;
  }
}

.c-header .bluedot-search-form {
  @include mq($from: desktop) {
    width: 270px;
    font-size: 12px;
    font-weight: 700;
  }
}

.c-header .bluedot-search-form input {
  @include mq($from: desktop) {
    font-size: 12px;
  }
}

.c-header .bluedot-search-form input::placeholder {
  @include mq($from: desktop) {
    color: #bcbcbc;
  }
}

.c-header  .bluedot-search-form button svg path {
  fill: var(--accent-color);
}

.c-header a.bluedot-search-button {
  @include attention() {
    svg path {
      fill: #BE7AFF;
    }
  }
}

.c-header .bluedot-search-button svg {
  width: 15px;
  height: 15px;
}